// CHAT HEADER
.right-chat-header {
    display: flex;
    flex-shrink: 0;
    padding: 24px 30px;
    height: 80px;
    justify-content: center;
    background-color: #e8e8e7;
    // CHAT LOGO
    &__logo {
        margin: 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 32px;
    }
}