/*COLORS
$purple: #d7d8f1;
$purple1: #ededfa;
$white: #ffffff;
$white1: rgba(255,255,255,0.5);
$violet: #3b3e99;
$violet1: #37398d;
$violer2: #56588e;
$blue: #1f2162;
$blue1: #989ad7;
$pink: #ed145b;
$grey: #d2d2f7;
$grey1: #f1f1fb;
$grey2: #474749;
$grey3: #ededfd;
$grey4: #dcdce8;
$grey5: #9f9fa9;
$grey6: #e8e8e7;
*/
















