/*COLORS
$purple: #d7d8f1;
$purple1: #ededfa;
$white: #ffffff;
$white1: rgba(255,255,255,0.5);
$violet: #3b3e99;
$violet1: #37398d;
$violer2: #56588e;
$blue: #1f2162;
$blue1: #989ad7;
$pink: #ed145b;
$grey: #d2d2f7;
$grey1: #f1f1fb;
$grey2: #474749;
$grey3: #ededfd;
$grey4: #dcdce8;
$grey5: #9f9fa9;
$grey6: #e8e8e7;


*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    background-color: #d7d8f1;
    display: flex;
    overflow-x: hidden;
    height: 100vh;
}


/*Global styles*/

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.osp-chat {
    max-width: 1170px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    height: 700px;
    margin: auto;
    display: none;
}

.osp-chat--visible {
    display: flex;
}


/*Reset buttons styles*/

.osp-chat-nav-btn {
    background: none;
    border: none;
    outline: none;
    width: 35px;
    height: 32px;
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
    position: relative;
}

.osp-chat-nav-btn::before {
    font-family: 'chat-icons';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*LEFT CHAT WRAPPER*/

.left-chat-wrap {
    display: flex;
    max-width: 110px;
    flex-direction: column;
    background-color: #3b3e99;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .left-chat-wrap {
        max-width: 50px;
    }
}

.left-chat-wrap--visible {
    display: flex;
    max-width: 40%;
}

@media (max-width: 767px) {
    .left-chat-wrap--visible {
        max-width: 100%;
    }
}

.left-chat-wrap--hidden .chat-search-panel {
    display: none;
}

@media (max-width: 767px) {
    .left-chat-wrap--hidden .left-chat-user {
        display: none;
    }
    .left-chat-wrap--hidden .left-chat-nav__menu {
        display: none;
    }
}


/*LEFT CHAT NAVIGATION PANEL*/

.left-chat-nav {
    display: flex;
    width: 100%;
    background-color: #3b3e99;
    padding: 24px 20px;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
}


/*Open left panel button*/

.left-chat-nav__open::before {
    content: "\e904";
}

.left-chat-nav__open--active::before {
    content: "\e900";
}


/*Open menu button*/

.left-chat-nav__menu::before {
    content: "\e903";
    font-size: 18px;
}

.left-chat-nav__menu--active::before {
    content: "\e901";
    font-size: 18px;
}


/*Left chat search panel*/

.chat-search-panel {
    display: flex;
    position: relative;
    flex-shrink: 0;
}


/*Left chat search panel input*/

.chat-search-panel__input {
    background-color: #ededfa;
    outline: none;
    border: none;
    width: 165px;
    border-radius: 16px;
    font-family: "Ubuntu";
    line-height: 20px;
    height: 32px;
    font-size: 14px;
    padding: 6px 40px 6px 15px;
}


/*Left chat search panel button*/

.chat-search-panel__search-btn {
    position: absolute;
    width: 44px;
    right: 0;
    top: 0;
}

.chat-search-panel__search-btn::before {
    font-size: 18px;
    transition: color 0.2s ease;
}

.chat-search-panel__search-btn:hover::before {
    color: #3b3e99;
}


/*LEFT CHAT USERS WRAPPER*/

.left-chat-users {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
}


/*LEFT CHAT USER*/

.left-chat-user {
    background-color: #3b3e99;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.left-chat-user:hover {
    background-color: #1f2162;
}


/*Active chat user*/

.left-chat-user--active {
    background-color: #ed145b;
}

.left-chat-user--active:hover {
    background-color: #ed145b;
}

.left-chat-user--active .left-chat-user__status {
    background-color: #ffffff;
    color: #ed145b;
}


/*User status*/

.left-chat-user__status {
    display: flex;
    min-width: 50px;
    line-height: 20px;
    padding: 0px 5px;
    text-align: center;
    height: 20px;
    margin: auto;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #37398d;
    justify-content: center;
    border-radius: 10px;
}


/*User info block*/

.left-chat-user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 30px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .left-chat-user-info {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.left-chat-user-info__name {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-chat-user-info__message {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*User photo block*/

.left-chat-user-photo {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
}

.left-chat-user-photo__img {
    display: block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.left-chat-user-photo__message-badge {
    position: absolute;
    font-size: 12px;
    color: #fff;
    width: 21px;
    height: 21px;
    background-color: #ed145b;
    display: block;
    text-align: center;
    border: 2px solid #3b3e99;
    line-height: 17px;
    border-radius: 50%;
    right: -2px;
    top: -2px;
}


/*RIGHT CHAT WRAPPER*/

.right-chat-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 50px);
}


/*RIGHT CHAT HEADER*/

.right-chat-header {
    display: flex;
    /*width: 100%;*/
    flex-shrink: 0;
    padding: 24px 30px;
    height: 80px;
    justify-content: center;
    background-color: #e8e8e7;
}


/*Right chat logo*/

.right-chat-header__logo {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 32px;
}


/*RIGHT CHAT MESSAGES WRAPPER*/

.right-chat-messages {
    padding: 20px 30px 0px 30px;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

@media (max-width: 767px) {
    .right-chat-messages {
        padding: 20px 20px 0px 20px;
    }
}


/*RIGHT CHAT MESSAGE*/

.right-chat-message {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 400px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.right-chat-message:first-child {
    margin-top: auto;
}

.right-chat-message__user-photo {
    display: flex;
    min-width: 50px;
    height: 50px;
    align-self: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}


/*Right chat message notice*/

.right-chat-notice {
    padding: 20px 25px;
    margin: 0;
    background: red;
    font-size: 14px;
    line-height: 22px;
    border-radius: 8px;
}

.right-chat-notice__content {
    margin: 0;
    width: 100%;
}

.right-chat-message__date {
    font-size: 14px;
    line-height: 20px;
    color: #d2d2f7;
    position: absolute;
    bottom: 5px;
}


/*Chat message to user*/

.right-chat-message--to-user {
    align-self: flex-start;
}

.right-chat-message--to-user .right-chat-notice {
    background-color: #989ad7;
    color: #ffffff;
}

.right-chat-message--to-user .right-chat-message__user-photo {
    margin-right: 15px;
}

.right-chat-message--to-user .right-chat-message__date {
    left: 65px;
}


/*Chat message from user*/

.right-chat-message--from-user {
    align-self: flex-end;
}

.right-chat-message--from-user .right-chat-notice {
    background-color: #f1f1fb;
    color: #474749;
}

.right-chat-message--from-user .right-chat-message__user-photo {
    margin-left: 15px;
    order: 1;
}

.right-chat-message--from-user .right-chat-message__date {
    right: 65px;
}


/*RIGHT CHAT MESSAGE FORM*/

.right-chat-form {
    padding: 20px 30px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-self: flex-end;
}

@media (max-width: 767px) {
    .right-chat-form {
        padding: 20px;
    }
}

.right-chat-form__textarea {
    display: flex;
    outline: none;
    max-height: 50px;
    border-radius: 25px;
    resize: none;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 50px 15px 20px;
    border: none;
    background-color: #ededfa;
    flex-grow: 1;
    align-self: flex-end;
}

.right-chat-form__smiles {
    position: absolute;
    width: 60px;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: #dcdce8;
    font-size: 20px;
    bottom: 20px;
    right: 90px;
    cursor: pointer;
    transition: color 0.2s ease;
}

@media (max-width: 767px) {
    .right-chat-form__smiles {
        right: 60px;
    }
}

.right-chat-form__smiles:hover {
    color: #9f9fa9;
}

.right-chat-form__document {
    cursor: pointer;
    height: 50px;
    width: 40px;
    font-size: 22px;
    position: relative;
    color: #ededfd;
    margin-left: 20px;
    transition: color 0.2s ease;
    align-self: flex-end;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .right-chat-form__document {
        margin-left: 0px;
    }
}

.right-chat-form__document:hover {
    color: #9f9fa9;
}

.right-chat-form__document::before {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-chat-form__document input[type="file"] {
    display: none;
}


/*LOGIN FORM*/

.osp-chat-form-wrap {
    display: flex;
    max-width: 400px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .osp-chat-form-wrap {
        max-width: 290px;
    }
}

.osp-chat-form-wrap--hidden {
    display: none;
}


/*Form navigation*/

.osp-chat-form-nav {
    display: flex;
}

.osp-chat-form-nav__btn {
    display: flex;
    width: 50%;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #3b3e99;
    justify-content: center;
    color: #ffffff;
    line-height: 20px;
    padding: 10px;
    cursor: pointer;
}

.osp-chat-form-nav__btn--active {
    background-color: #56588e;
}


/*Chat form*/

.osp-chat-form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.osp-chat-form--hidden {
    display: none;
}


/*Form input*/

.osp-chat-form__input {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 20px;
    margin-bottom: 30px;
    background-color: #ededfa;
    border: none;
    border-radius: 25px;
    outline: none;
    font-family: "Ubuntu";
    border: 1px solid #ededfa;
    transition: all 0.2s ease;
}

.osp-chat-form__input--mb10 {
    margin-bottom: 10px;
}

.osp-chat-form__input:focus {
    border: 1px solid #3b3e99;
}


/*Send button*/

.osp-chat-form__submit {
    display: flex;
    width: 100%;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #3b3e99;
    border: 1px solid #3b3e99;
    justify-content: center;
    color: #ffffff;
    line-height: 20px;
    padding: 14px 15px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.osp-chat-form__submit:hover {
    background-color: transparent;
    color: #3b3e99;
}

.osp-chat-form__link {
    font-size: 14px;
    line-height: 20px;
    color: #3b3e99;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
    padding-left: 20px;
    transition: opacity 0.2s ease;
}

.osp-chat-form__link:hover {
    opacity: 0.5;
}


/*CHAT MENU*/

.osp-chat-menu {
    position: absolute;
    padding: 10px 0px;
    right: 24px;
    top: 70px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.osp-chat-menu--hidden {
    display: none;
}

.left-chat-wrap--hidden .osp-chat-menu {
    right: -60px;
}

.osp-chat-menu__item {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.2s ease;
}

.osp-chat-menu__item:hover {
    background-color: #ededfa;
}

.osp-chat-menu__item--divider {
    height: 1px;
    background-color: #e8e8e7;
    padding: 0;
    margin: 5px 15px;
}