<!--BEGIN RIGHT CHAT MESSAGES WRAPPER-->
<ul class="right-chat-messages">
    <li class="right-chat-message  right-chat-message--to-user">
        <div class="right-chat-message__user-photo" style="background-image: url(img/avatar__1.jpg)"></div>
        <div class="right-chat-notice">
            <p class="right-chat-notice__content">
                To take a trivial example
            </p>
        </div>
        <span class="right-chat-message__date">13:58</span>
    </li>
    <li class="right-chat-message  right-chat-message--from-user">
        <div class="right-chat-message__user-photo" style="background-image: url(img/avatar__2.jpg)"></div>
        <div class="right-chat-notice">
            <p class="right-chat-notice__content">
                Which of us ever undertakes lab. physical exercise, except to obrain some advantage from it?
            </p>
        </div>
        <span class="right-chat-message__date">14:21</span>
    </li>
    <li class="right-chat-message  right-chat-message--to-user">
        <div class="right-chat-message__user-photo" style="background-image: url(img/avatar__1.jpg)"></div>
        <div class="right-chat-notice">
            <p class="right-chat-notice__content">
                But I must explain to you how all this mistaken idea
            </p>
        </div>
        <span class="right-chat-message__date">14:25</span>
    </li>
    <li class="right-chat-message  right-chat-message--from-user">
        <div class="right-chat-message__user-photo" style="background-image: url(img/avatar__2.jpg)"></div>
        <div class="right-chat-notice">
            <p class="right-chat-notice__content">
                The generated Lorem Ipsum is therefore always free from repetition
            </p>
        </div>
        <span class="right-chat-message__date">14:38</span>
    </li>
</ul>
<!--END RIGHT CHAT MESSAGES WRAPPER-->